<launch>

    <node pkg="lane_detect" type="lane_detect_node" name="lane_detect" />
    <node pkg="testing" type="pub_image.py" name="pub_image">
        <remap from="image_raw" to="/image"/>
    </node>
    <node pkg="image_view" type="image_view" name="image_view">
        <remap from="image" to="/image_processed"/>
    </node>
</launch>
